#user_heading
  h2= user.full_name
  - if (auth_user && auth_user === user.user_name)
    a(href='/users/' + user.user_name + '/edit', title='Edit ' + user.full_name)[Edit]
- if (user.ghRepos && user.ghRepos.length > 0)
  h3 GitHub repos (username: #{user.gh})
  ul
    - each repo in user.ghRepos
      li
        a(href='/ghrepos/' + repo['name'], title='' + repo['name']) #{repo['name']}
        \ - #{repo['description']}
- if (user.bbRepos && user.bbRepos.length > 0)
  h3 BitBucket repos (username: #{user.bb})
  ul
    - each repo in user.bbRepos
      li
        a(href='/bbrepos/' + repo['name'], title='' + repo['name']) #{repo['name']}
        \ - #{repo['description']}
hr
pre= dbg
